.header {
    margin: 0;
    height: 80px;
    width: 100%;
    background-color: #b2e9e6;
}

.logo {
    background-image: url(img/logo.png);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu a {
    margin-top: 25px;
    font-size: 28px;
    margin-left: 3%;
    text-decoration: none;
    color: grey;
}

.menu a:hover {
    color: black;
    text-decoration: none;
}
