* {
    margin: 0;
}

body, html {
    margin: 0;
    background-color: #eafff8;
}

#content {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

textarea {
    height: 400px;
}

#code {

}